.BannerMain {
  -webkit-column-count: 6;
  -moz-column-count: 6;
  column-count: 6;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  padding: 0 12px;
  margin-top:80px ;
  .Bannerimg {
    margin-bottom: 16px;
    .descmain{
      display: none;
    }
    .Banner {
      position: relative;
      -webkit-transition: all 350 ease;
      transition: all 350ms ease;
      cursor: pointer;
    
      &:hover {
        filter: opacity(0.8);
      }
      img {
        width: 100%;
        max-width: 210px;
        border-radius: 15px;
      }
    }
    &:hover .dowload{
      visibility: visible;  
    }
    .dowload {
      visibility: hidden;
      position: absolute;
      text-decoration: none;
      transform: translate(-137%, 44%);
      background: red;
      padding: 0px 10px;
      color: #fff;
      border-radius: 15px;
      width: 45px;
      height: 25px;
      font-weight: 500;
      cursor: pointer;
      z-index: 1;
    }
  }
}
@media screen and (max-width: 768px) {
  .BannerMain {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}
@media screen and (max-width: 375px) {
  .BannerMain {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

.Open {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #151515;
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.5 ease-in-out ;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  .desc{
    display: block;
    color: white;
    padding: 100px;
    overflow: hidden;
    display: block;
    word-break: break-word;
  }
  svg {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
    padding: 5px;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
  }
 
}
.Model {
  img {
    display: none;
  }
  svg {
    display: none;
  }
  .desc{
    display: none;
  }
}
